__pycache__/
*.pyc
.DS_Store
.env
resources/tmp/current_projekt_bookmarks.json
resources/tmp/current_projekt_creation_log
resources/tmp/current_projekt_parameters.xml
resources/tmp/current_projekt_template.json
resources/tmp/current_projekt_template.json.bak
run_logikprojekt_linux.sh
install/current_adsk_python_version.pref
LOGIK-PROJEKT.app/Contents/Info.plist
LOGIK-PROJEKT.app/Contents/MacOS/run_logikprojekt_macos
LOGIK-PROJEKT.app/Contents/Resources/logik_projekt_icon.icns
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/APPLE/AP0_to_Apple_Log.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/APPLE/AP1_to_Apple_Log.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/APPLE/Apple_log_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/APPLE/Apple_log_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC3/AP0_to_ARRI_LogC3.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC3/AP1_to_ARRI_LogC3.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC3/ARRI_LogC3_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC3/ARRI_LogC3_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC4/AP0_to_ARRI_LogC4.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC4/AP1_to_ARRI_LogC4.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC4/ARRI_LogC4_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/ARRI/ARRI_LogC4/ARRI_LogC4_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/BLACKMAGIC_DESIGN/AP0_to_BMD.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/BLACKMAGIC_DESIGN/AP1_to_BMD.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/BLACKMAGIC_DESIGN/BMD_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/BLACKMAGIC_DESIGN/BMD_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Daylight/AP0_to_Canon_Daylight.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Daylight/AP1_to_Canon_Daylight.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Daylight/Canon_Daylight_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Daylight/Canon_Daylight_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Tungsten/AP0_to_Canon_Tungsten.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Tungsten/AP1_to_Canon_Tungsten.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Tungsten/Canon_Tungsten_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/CANON/CanonLog3_Tungsten/Canon_Tungsten_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/PANASONIC/AP0_to_Panasonic_VLog.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/PANASONIC/AP1_to_Panasonic_VLog.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/PANASONIC/Panasonic_VLog_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/PANASONIC/Panasonic_VLog_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/R3D/AP0_to_R3D_Log3G10.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/R3D/AP1_to_R3D_Log3G10.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/R3D/R3D_Log3G10_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/R3D/R3D_Log3G10_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/REC709/AP0_to_Rec709.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/REC709/AP1_to_Rec709.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/REC709/Rec709_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/REC709/Rec709_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SCENE_LINEAR/AP0_to_LinearRec709_sRGB.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SCENE_LINEAR/AP1_to_LinearRec709_sRGB.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SCENE_LINEAR/LinearRec709_sRGB_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SCENE_LINEAR/LinearRec709_sRGB_to_Rec709.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3/AP0_to_S3SGamut3.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3/AP1_to_S3SGamut3.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3/S3SGamut3_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3/S3SGamut3_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Cine_Venice/AP0_to_S3SGamut3_Cine_Venice.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Cine_Venice/AP1_to_S3SGamut3_Cine_Venice.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Cine_Venice/S3SGamut3_Cine_Venice_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Cine_Venice/S3SGamut3_Cine_Venice_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Venice/AP0_to_S3SGamut3_Venice.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Venice/AP1_to_S3SGamut3_Venice.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Venice/S3SGamut3_Venice_to_AP0.ctf
resources/flame/Syncolor/Shared/transforms/flame_colortoolkit/SONY/S3SGamut3_Venice/S3SGamut3_Venice_to_AP1.ctf
resources/flame/Syncolor/Shared/transforms.tar.xz
development/send_webhook.sh
customization/testing/premiere_directories.py
customization/branding/rocky-fonts/rocky-fonts-master
resources/flame/python/logik_projekt/openclip_tools/scratch_comp.py
resources/flame/python/logik_projekt/openclip_tools/scratch_mattes.py
resources/flame/python/logik_projekt/openclip_tools/scratch_multichannel.py
resources/flame/python/logik_projekt/openclip_tools/scratch_neat_video.py
resources/flame/python/logik_projekt/openclip_tools/scratch_precomp.py
error
