__pycache__/
*.pyc
.DS_Store
resources/tmp/current_projekt_bookmarks.json
resources/tmp/current_projekt_parameters.xml
resources/tmp/current_projekt_template.json
resources/tmp/current_projekt_template.json.bak
run_logikprojekt_linux.sh
install/current_adsk_python_version.pref
install/logs/2024-09-25-current_adsk_python_version_log.txt
install/logs/2024-10-03-current_adsk_python_version_log.txt
LOGIK-PROJEKT.app/Contents/Info.plist
LOGIK-PROJEKT.app/Contents/MacOS/run_logikprojekt_macos
LOGIK-PROJEKT.app/Contents/Resources/logik_projekt_icon.icns
resources/utilities/flame_configs/init_config/default/init.cfg.default
resources/utilities/flame_configs/init_config/freesync/init.cfg.freesync
resources/flame/Syncolor/Shared/transforms.tar.xz
