[Desktop Entry]
Name=LOGIK-PROJEKT
Comment=This application will create a brand new PROJEKT
Version=1.0
Exec=/Volumes/hotstorage/02_assets/github/LOGIK-PROJEKT-DXS/run_logikprojekt_linux.sh
Icon=/Volumes/hotstorage/02_assets/github/LOGIK-PROJEKT-DXS/resources/icons/logik_projekt_icon_01.png
Type=Application
Terminal=True
