#!/bin/bash
# Get the directory where the script is located, which is the project root
SCRIPT_DIR=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)

# Change to the project root directory
cd "$SCRIPT_DIR" || exit

# Set PYTHONPATH to the project root
export PYTHONPATH="$SCRIPT_DIR"

# Run the python application as a module
__PYTHON_EXECUTABLE__ -m src.app
